
/* Background image (currently linked through dropbox) */
.ui-page {
    background: transparent url(img/TempBackground-26.png);
    background-color: 
}

/* white textboxes */
.textbox-white {
    background-color: white;
    padding: 1px 15px 1px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Arial;
    color: #716552;
}
.textbox-text {
    font-family: Arial;
    color: #716552;
}
.textbox-header {
    font-family: Arial;
    font-weight: bold;
    color: #716552;
}

/* track name header (this one is being funny-
  the styling won't work as a class, so I just made it an id...
  might need to be solved eventually because this style is used multiple times */
.tracklist-header {
    white-space: normal; 
    width: 260px; 
    height: 40px; 
    margin:15px; 
    text-align: left;
}

/* map + start image + labels */
.map {
  width: 288px;
  height: 200px;
}
#viewTrackImage {
  width: 288px;
  height: 200px;
}

.image-map-container {
  position: relative;
}

.image-map-label-container {
  width: 200px; 
  background-color: #E5E1D1; 
  position: absolute;
  font-size: small;
  font-family: arial;
  color: #A3BE8B;
  padding: 15px;
}

#label-distance {
  color: #716552;

}
#label-difficulty {
  color: #716552;
}
#label-chapters {
  color: #716552;
}

/* interp image + label*/
#viewTrackPointImage {
  width: 288px;
  height: 250px;
}
#interp-label-container {
  background-color: #A3BE8B;
  padding: 15px;
  margin-top: -5px;
}
#viewTrackPointName {
  font-family: Arial;
  font-style: bold;
  color: #0E1237;
}

/* music player */
#musicplayer-container {
  background-color: #A3BE8B;
  height: 70px;
}

/* Create a Track */
.subtitles {
  font-size: small;
}
#createTrackImageDiv {
  width: 288px;
  height: 200px;
  background-color: #fbfbfb;
  border: 1px solid #b8b8b8;
}

#createTrackPOIImageDiv {
  width: 288px;
  height: 250px;
  background-color: #fbfbfb;
  border: 1px solid #b8b8b8;
}
