
/* Background image
======================================================  */
.ui-page {
    background: transparent url(img/TempBackground-26.png);
}

/* settings page (also would not accept changes with a class)
====================================================== */
#listview-header {
  font-size: .9em !important;
}
#listview-header2 {
  font-size: .9em !important;
}

/* white textboxes 
====================================================== */
.textbox-white {
    background-color: white;
    padding: 1px 15px 1px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #716552;
}
.textbox-header {
    font-family: Rokkitt;
    font-weight: 700;
    font-size: 1.1em;
}
  /*this wasn't working as a class this is textbox-text for track desc */
#viewTrackDescription {
    font-family: Muli !important;
    font-size: 1em !important;
    font-weight: 300 !important;
}
.textbox-text-startmain {
    font-family: Muli !important;
    font-size: 1em !important;
    font-weight: 300 !important;
}
#viewTrackPointDescription {
    font-family: Muli !important;
    font-size: 1em !important;
    font-weight: 300 !important;
}
#textbox-text-ct-instructions {
    font-family: Muli !important;
    font-size: 1em !important;
    font-weight: 300 !important;
}


/* track name header (this one is being funny-
  the styling won't work as a class, so I just used the ids
   ====================================================== */
.viewTrackTitle {
    white-space: normal; 
    width: 93%; 
    height: 100%; 
    margin:15px; 
    text-align: left;
    font-family: Rokkitt;
    font-weight: 700;
    font-size: 1.3em;  
}
#viewTrackTitle2 {
      white-space: normal; 
    width: 93%; 
    height: 100%; 
    margin:15px; 
    text-align: left;
    font-family: Rokkitt;
    font-weight: 700;
    font-size: 1.3em;  
}
#tracklist-header {
    white-space: normal; 
    width: 93%; 
    height: 100%; 
    margin:15px; 
    text-align: left;
    font-family: Rokkitt;
    font-weight: 700;
    font-size: 1.3em;
}
#viewTrackTitleFinished {
    white-space: normal; 
    width: 93%; 
    height: 100%; 
    margin:15px; 
    text-align: left;
    font-family: Rokkitt;
    font-weight: 700;
    font-size: 1.3em;
}

/* map + start image + labels 
====================================================== */
.viewTrackMap {
    width: 288px;
    height: 200px;
}
#viewTrackImage {
    width: 288px;
    height: 200px;
}
.image-map-container {
    position: relative;  
}
.image-map-label-container {
    background-color: #e0dcca; 
    position: absolute;
    font-family: Muli;
    font-weight: 400;
    font-size: .8em;
    color: #716552;
    padding: 10px;
}

/* interp image + label
====================================================== */
#viewTrackPointImage {
    width: 288px;
    height: 250px;
}
#interp-label-container {
    background-color: #e0dcca;
    padding: 10px;
    margin-top: -5px;
}
#viewTrackPointName {
    font-family: Rokkitt;
    font-weight: 700;
    font-size: 1.1em;
}
#viewTrackShowDescription {
    background-color: #A3BE8B;
    vertical-align: right;
    width: 70px;
}
/* music player 
====================================================== */
#musicplayer-container {
    background-color: #A3BE8B;
    height: 70px;
}




/* Create a Track 
====================================================== */
.subtitles {
  font-size: small;
}
#createTrackImageDiv {
  width: 100%;
  height: 200px;
  background-color: #fbfbfb;
  border: 1px solid #b8b8b8;
}

#createTrackPOIImageDiv {
  width: 288px;
  height: 250px;
  background-color: #fbfbfb;
  border: 1px solid #b8b8b8;
}
