
/* Background image
======================================================  */
.ui-page {
    background: transparent url(img/TempBackground-26.png);
}

/* settings page (also would not accept changes with a class)
====================================================== */
#listview-header {
  font-size: .9em !important;
}
#listview-header2 {
  font-size: .9em !important;
}
#header-editplaces {
   font-size: 1em !important; 
   font-family: Rokkitt;
   font-weight: 700;
}

/* white textboxes 
====================================================== */
.textbox-white {
    background-color: white;
    padding: 1px 15px 1px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #716552;
}
.textbox-header {
    font-family: Rokkitt;
    font-weight: 700;
    font-size: 1.1em;
}
  /*this wasn't working as a class this is textbox-text for track desc */
#viewTrackDescription {
    font-family: Muli !important;
    font-size: 1em !important;
    font-weight: 300 !important;
}
.textbox-text-startmain {
    font-family: Muli !important;
    font-size: 1em !important;
    font-weight: 300 !important;
}
#viewTrackPointDescription {
    font-family: Muli !important;
    font-size: 1em !important;
    font-weight: 300 !important;
}
#textbox-text-ct-instructions {
    font-family: Muli !important;
    font-size: 1em !important;
    font-weight: 300 !important;
}
#textbox-text-finshed {
    font-family: Muli !important;
    font-size: 1em !important;
    font-weight: 300 !important;
}
#textbox-text-ctmain {
    font-family: Muli !important;
    font-size: 1em !important;
    font-weight: 300 !important;
}
#textbox-text-trackupload {
    font-family: Muli !important;
    font-size: 1em !important;
    font-weight: 300 !important;    
}
#textbox-text-poi2 {
    font-family: Muli !important;
    font-size: 1em !important;
    font-weight: 300 !important;     
}

/* track name header (this one is being funny-
  the styling won't work as a class, so I just used the ids
   ====================================================== */
.viewTrackTitle {
    white-space: normal; 
    width: 93%; 
    height: 100%; 
    margin:15px; 
    text-align: left;
    font-family: Rokkitt;
    font-weight: 700;
    font-size: 1.3em;  
}
#viewTrackTitle2 {
      white-space: normal; 
    width: 93%; 
    height: 100%; 
    margin:15px; 
    text-align: left;
    font-family: Rokkitt;
    font-weight: 700;
    font-size: 1.3em;  
}
#tracklist-header {
    white-space: normal; 
    width: 93%; 
    height: 100%; 
    margin:15px; 
    text-align: left;
    font-family: Rokkitt;
    font-weight: 700;
    font-size: 1.3em;
}
#viewTrackTitleFinished {
    white-space: normal; 
    width: 93%; 
    height: 100%; 
    margin:15px; 
    text-align: left;
    font-family: Rokkitt;
    font-weight: 700;
    font-size: 1.3em;
}

/* map + start image + labels 
====================================================== */
.viewTrackMap {
    width: 288px;
    height: 200px;
}
#viewTrackImage {
    width: 288px;
    height: 200px;
}
.image-map-container {
    position: relative;  
}
.image-map-label-container {
    background-color: #e0dcca; 
    position: absolute;
    font-family: Muli;
    font-weight: 400;
    font-size: .8em;
    color: #716552;
    padding: 10px;
}

/* interp image + label
====================================================== */
#viewTrackPointImage {
    width: 288px;
    height: 250px;
}
#interp-label-container {
    background-color: #e0dcca;
    padding: 10px;
    
    width: 70%;
    display: inline-block;
}
#viewTrackShowDescription {
    background-color: #A3BE8B;
    width: 16%;
    display: inline-block;
    margin-left: -2%;
    padding: 10px;
    font-family: Rokkitt;
    font-weight: 700;
    font-size: 1.1em;
    text-align: center;
    color: #0E1237;
}
#viewTrackPointName {
    font-family: Rokkitt;
    font-weight: 700;
    font-size: 1.1em;
}


/* music player 
====================================================== */
#musicplayer-container {
    background-color: #A3BE8B;
    height: 70px;
}




/* Create a Track 
====================================================== */
.inputpage-header {
    font-family: Rokkitt !important;
    font-weight: 700 !important; 
    font-size: 1.1em !important;
}
.subtitles {
  font-size: .8em;
  font-family: Muli;
  font-weight: 300;
}
/* this is being wonky - trying to center buttons on the page
.uploadPhotoDiv {
    position: absolute; 
    top: 35%; 
    width: 100%;
}
*/
#createTrackImageDiv {
  width: 100%;
  height: 200px;
  background-color: #fbfbfb;
  border: 1px solid #b8b8b8;
}

#createTrackPOIImageDiv {
  width: 288px;
  height: 250px;
  background-color: #fbfbfb;
  border: 1px solid #b8b8b8;
}

#addPointFinishBar {
    width: 100%;
}


/*  Edit Track Info Section 
====================================================== */
#editTrackImageDiv {
    width: 100%;
    height: 200px;
    background-color: #fbfbfb;
    border: 1px solid #b8b8b8;   
}
