.ui-page {
    background: transparent url(https://dl.dropboxusercontent.com/u/137249874/TempBackground-26-26-26.png);
}


.textbox-white {
    background-color: white;
    padding: 1px 15px 1px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.textbox-header {
  font-family: Arial;
  font-weight: bold;
  color: #716552;
}
.textbox-text {
  font-family: Arial;
  color: #716552;
}


#tracklist-header {
  white-space: normal; 
  width: 260px; 
  height: 40px; 
  margin:15px; 
  text-align: left;
}

.map {
  width: 288px;
  height: 200px;
}
#image-start {
  width: 288px;
  height: 200px;
}
#image-interp {
  width: 288px;
  height: 250px;
}
.image-map-container {
  position: relative;
}
.image-map-label-container {
  width: 200px; 
  background-color: #E5E1D1; 
  position: absolute;
  font-size: small;
  font-family: arial;
  color: #A3BE8B;
  padding: 15px;
}
#label-distance {
  color: #716552;
}
#label-difficulty {
  color: #716552;
}
#label-chapters {
  color: #716552;
}

#musicplayer-container {
  background-color: #A3BE8B;
  height: 70px;
}

#interp-label-container {
  background-color: #A3BE8B;
  padding: 15px;
  margin-top: -5px;
}
#interp-label {
  font-family: Arial;
  font-style: bold;
  color: #0E1237;
}